.section-grid {}

.row {
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-land) {
    padding: 3rem;
  }

  @include respond(tab-port) {
    max-width: 57rem;
  }

  &:not(:last-child) {
    margin-bottom: $spacing-vertical;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

[class|=col] {
  float: left;
  padding: 1rem;
  font-size: 1.5rem;

  @include respond(tab-port) {
    width: 100% !important;
  }

  &:not(:last-child) {
    margin-right: $spacing-horizontal;

    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
  }
}

.col-1-of-2 {
  width: calc((100% - #{$spacing-horizontal}) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * #{$spacing-horizontal}) / 3);
}

.col-2-of-3 {
  width: calc(2 * (calc(100% - 2 * #{$spacing-horizontal}) / 3) + #{$spacing-horizontal})
}

.col-1-of-4 {
  width: calc((100% - 3 * #{$spacing-horizontal}) / 4)
}

.col-2-of-4 {
  width: calc(2 * calc((100% - 3 * #{$spacing-horizontal}) / 4) + #{$spacing-horizontal});
}

.col-3-of-4 {
  width: calc(3 * calc((100% - 3 * #{$spacing-horizontal}) / 4) + 2 * #{$spacing-horizontal});
}