.header {
  height: 95vh;
  background-image:
    linear-gradient(To bottom right, rgba($color-primary-light, .85), rgba($color-primary-dark, .85)),
    url('../../img/hero.jpg');
  background-size: cover;
  position: relative;
  clip-path: polygon(50% 0%, 100% 0, 100% 80%, 0 100%, 0 0);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 0 100%, 0 0);
  border-radius: 3px;

  @include respond(tab-land) {
    clip-path: polygon(50% 0%, 100% 0, 100% 85%, 0 100%, 0 0);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 85%, 0 100%, 0 0);
  }

  @include respond(tab-port) {
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 0 100%, 0 0);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 0 100%, 0 0);
  }

  &__logo-box {
    padding: 4rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;

    @include respond(tab-port) {
      top: 1.2rem;
      left: 1.2rem;
    }
  }

  &__logo {
    width: 8rem;
  }

  &__heading-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}